<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
	 	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- 扫描controller -->
	<context:component-scan base-package="com.offcn.controllers"></context:component-scan>
	
	
	
	<!-- 注解驱动：处理器映射器RequestMappingHandlerMapping、处理器适配器 RequestMappingHandlerAdapter  -->
	<mvc:annotation-driven />

	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--配置页面路径  -->
		<property name="prefix" value="jsp/" ></property>
		<!--配置文件以value值结尾  -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
	<!-- 文件上传,id必须设置为multipartResolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置文件上传大小 -->
		<property name="maxUploadSize" value="5000000" />
	</bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 拦截的路径 -->
			<mvc:mapping path="/**"/>
			
			<!-- 拦截器的完整类名 -->
			<!-- 不进行拦截 -->
       		 <mvc:exclude-mapping path="/initPage.action"/>
       		 <mvc:exclude-mapping path="/identifyFisher.action"/>
       		 <mvc:exclude-mapping path="/saveFisher.action"/>
       		 
			<bean class="com.offcn.interceptor.HandlerInterceptor1" />
		</mvc:interceptor>
		
	</mvc:interceptors>
	

</beans>